{
  "callsign": "X1ABCD",
  "nickname": "TechNomad",
  "intro": "Amateur radio enthusiast exploring off-grid communications",
  "preferredColor": "Blue",
  "emoticon": "(^_^)",
  "npub": "npub1234567890abcdefghijklmnopqrstuvwxyz1234567890abcdefghijk",
  "nsec": "nsec1234567890abcdefghijklmnopqrstuvwxyz1234567890abcdefghijk",
  "beaconNickname": "BeaconABCD",
  "beaconType": "person",
  "idGroup": "12345",
  "idDevice": "123456",
  "invisibleMode": false,
  "chatCommunicationMode": "Everything",
  "chatRadiusKm": 100,
  "httpApiEnabled": true,
  "httpApiPort": 45678,
  "relayEnabled": false,
  "relayDiskSpaceMB": 1024,
  "relayAutoAccept": false,
  "relayMessageTypes": "text_only",
  "isFirstRun": false,
  "configVersion": 1
}
